@import "variables.scss";
@import "mixin.scss";


body {
  position: relative;
  font-family:'Georgia', sans-serif;
  font-weight: 400;
  background-color: $body-bg;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-font-color;
  background-size: 100% 100%;
  padding: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

