//--- Font-size...

$main-font-size: 1rem;

$main-line-height: 1rem;

$main-header-height: 1.6rem;


//--- Font-colors...

$main-font-color: #cdcdcd;


//--- Btn-backgrounds...

$btn-bg-hover-color: #FDDCC4;

$btn-bg-active-color: #1bc9f5;

$btn-bg: #F1CDB3;

//--- Main-backgrounds...

$body-bg: #cdcdcd;

$background-color-note: #F8E473;

$background-color-2: #ed4679;

//--- Main-text-color...

$text-color-note: black;


//--- Border colors...

$main-border-color: #2d2d2d;

$disabled-border: #CDCDCD;

//--- Min-height-block...

$min-height-note: 170px;
